{{top-bar}}

<nav>
	<div class="container d-flex flex-column">

		<img src="/img/logo.png" alt="{{t 'application.brand.title'}} {{t 'application.brand.city'}}" />

		<div class="nav-links d-flex justify-content-center">
			{{#each model.navigation as |item|}}
				{{#link-to item.link class="btn- btn-link"}}
					{{t item.localization}}
				{{/link-to}}
			{{/each}}
		</div>

	</div>
</nav>

{{!--
<div class="application-content">
	{{outlet}}
</div>
--}}

{{application-footer copyrightTo=model.copyrightTo footerNavigation=model.footerNavigation}}