{{top-bar}}

<nav>
	<div class="container d-flex flex-column">

		<img src="/img/logo.png" alt="{{t 'application.brand.title'}} {{t 'application.brand.city'}}" />

		<div class="nav-links d-flex justify-content-center">
			{{#each model.navigation as |item|}}
				{{#link-to item.link class="btn- btn-link"}}
					{{t item.localization}}
				{{/link-to}}
			{{/each}}

			<a href="http://www.kapellendorf.de/gemeinde/willkommen/" target="_blank" class="btn- btn-link ember-view">
				{{t 'application.brand.city'}}
			</a>
		</div>

	</div>
</nav>

<div class="application-content">
	<div class="application-content-gradient"></div>
	{{outlet}}
</div>

{{application-footer copyrightTo=model.copyrightTo footerNavigation=model.footerNavigation}}