<nav class="navbar navbar-expand-lg">
	
	{{#link-to "index" class="navbar-brand"}}
		<span class="title">{{t "application.brand.title"}}</span><br/>
		<span class="city">{{t "application.brand.city"}}</span>
	{{/link-to}}

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		{{fa-icon "list"}}
	</button>

	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			{{#each model.navigation as |item|}}
				{{#link-to item.link class="nav-item nav-link"}}
					{{t item.localization}}
				{{/link-to}}
			{{/each}}
		</ul>
	</div>
</nav>

<div class="emergency">
	<span class="call">
		{{fa-icon "phone"}}
		{{t "emergency.call"}}
	</span>
</div>

<div class="application-content">
	{{outlet}}
</div>

<footer class="footer">

	<div class="content">
		<div class="container text-center">

			<div class="nav">
				{{#each model.navigation as |item|}}
					{{#link-to item.link class="btn btn-link"}}
						{{t item.localization}}
					{{/link-to}}
				{{/each}}
			</div>

			<div class="text-together">
				{{t "application.together"}}
			</div>

			<div class="nav">
				{{#link-to "imprint" class="btn btn-link"}}
					{{t "footer.imprint"}}
				{{/link-to}}
				{{#link-to "dataprotection" class="btn btn-link"}}
					{{t "footer.dataprotection"}}
				{{/link-to}}
				{{#link-to "disclaimer" class="btn btn-link"}}
					{{t "footer.disclaimer"}}
				{{/link-to}}
			</div>

		</div>
	</div>

	<div class="copyright">
		<div class="container text-center">
			{{t "footer.copyright" copyrightTo=model.copyrightTo brand=(t 'application.brand.long')}}
		</div>
	</div>

</footer>
