<section class="container welcomes">
  {{#each model.welcomes as |item|}}
    <h2>{{t item.title}}</h2>
    <p>{{t item.text}}</p>
  {{/each}}
</section>

<section class="container">

  <div class="row d-flex">
    <div class="col-md-6">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">{{t 'general.links'}}</h3>
          <div class="card-text">
            <div class="list">
              {{#each model.navigation as |item|}}
                {{#link-to item.link class="list-item list-link"}}
                  {{t item.description}}
                {{/link-to}}
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">{{t 'general.news'}}</h3>
          <div class="card-text">
            {{#each model.lastNews as |item|}}
              <p>
                <strong>{{item.title}}</strong><br/>
                <i>{{item.description}}</i>
              </p>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

{{outlet}}
